body {
  margin: 0;
  font-family: Georgia, serif;
  font-size: 17px;
  color: black;
  background-color: MediumAquamarine;
}

/*Header and navigation styling*/

header {
  position: fixed;
  width: 99%;
  height: 60px;
  left: 0;
  top: 0;
  padding: 10px 10px;
  background-color: #FFF;
  border-bottom: 1px solid black;
}

nav {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.header-text {
  font-size: 14px;
  font-family: verdana;
  font-weight: bold;
  display: inline-block;
  margin: auto 10px;
}

.header-text.nav-element {
  text-decoration: underline;
  margin: auto 1em;
  color: #000;
}

#header-container {
  height: 60px;
  display: flex;
  flex-basis: 1000px;
  margin: 0 auto 1em auto;
}

#logo {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  width: 250px;
  height: auto;
  margin: auto 1em;
}

#logo-text {
  color: MediumAquamarine;
}

/*Content styling*/

p {
    margin-top: 0.5em;
}

a {
  color: MediumAquamarine;
}

h2 {
  font-size: 30px;
  color: #000;
  margin: 0 0 0 0;
}

.column {
  display: flex;
}

.column.large {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 0 3 630px;
}

.column.medium {
  display: inline-flex;
  flex-wrap: wrap;
  flex: 0 2 300px;
}

.column.small {
  display: inline-flex;
  flex-wrap: wrap;
  flex: 0 1 240px;}

.nav-vertical {
  width: 100%;
  display: block;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 10px 20px;
  border-bottom: 1px solid black;

}


#site-main {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 400px;
  margin-top: 81px;;
  padding: 2em 0;
  background-color: #FFF;
}

#content {
  display: inline-flex;
  flex: 0 1340px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 2em;
}

#content p {
  line-height: 1.3;
}

/*Specific styling for content - Teasers*/

.teaser {
  margin-bottom: 1em;
}

.geo-tag {
  text-transform: uppercase;
}

.teaser.story {
  overflow: hidden;
}

.teaser.story.w300 {
  width: 300px;
}

.teaser.image {
  width: auto;
  height: 300px;
  max-height: 300px;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  background-color: lightgray;
  margin-bottom: 1em;
}

.teaser.image.w300 {
  width: 300px;
}

.teaser.w630 {
  width: auto;
}

.teaser.image.w630 {
  padding: 0 2em;
}

.teaser.image h2 {
  color: #FFF;
  font-size: 30px;
  text-align: center;
}

.teaser.w630 h2 {
  font-size: 40px;
  text-align: left;
  margin: auto;
}

.teaser.w630 p {
  margin-top: 0;
}
/*Footer styling*/

footer {
  display: flex;
  height: 250px;
  background-color: MediumAquamarine;
  justify-content: center;
  align-items: center;
  font-family: verdana;
  font-size: 12px;
}

.footer-text {
  font-size: 12px;
  font-family: verdana;
  font-weight: normal;
  text-decoration: underline;
  display: inline-block;
  margin: auto 10px;
}

.footer-text.footer-logo {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.footer-element {
  display: flex;
  margin: 20px auto;
}

#footer-copyright {
  margin: auto;
}
